.mainSection{
    background-color: antiquewhite;
    color:teal;
  }
  p{
    font-weight: bold;
  }
  .body{
    height: 280px;
    background-color: aquamarine;
    color: blueviolet;
    border: 2px solid red;
    width: 250px;
    border-radius: 20px;
    margin: auto;
  }